body{
    font-family: sans-serif;
    padding: 0; margin: 0;
    padding-top: 4em;
}

.fab{
    padding: 16px;
    background-color: #FFC33F;
    border-radius: 10em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 4px 6px #999;
}

.listWidget{
    padding: 0.25em;
    padding-bottom: 72px;
}

.texttoolbar{
    position:fixed; bottom: 0; width: 100%; background: #CCC;
    
}
.texttoolbar img{
    padding: 4px;
}

.editarea{
    padding: 0.75em;
}
*:focus{
    outline: none;
}

.button{
    align-items: baseline;
    
    margin: 0.25em;
    height: 1.5em;
}

.header{
    font-size: 1.3em;
    display: flex;
    background: #FFC33F;
    padding: 0.25em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 6px #999;
}

.header .sides{
    flex: 0 0 auto;
    display: flex;
}

.header .title{
    flex: 1 1 auto;
    padding: 0.5em;
}

.noteRow{
    margin: 0.5em;
    padding: 0.75em;
    
    border: 1px solid #999;
    border-radius: 0.5em;
}

.noteRow .info{
    font-size: 0.85em;
    text-align: right;
    display: block;
    color: #555;
}

.noteRow .label{
    color: #fff;
    background-color: #999;
    padding: 0.2em 0.75em;
    border: 1px solid #999;
    border-radius: 3em;
}
